/* 전체 컨테이너 */
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 100px 20px;
}

/* 헤더 영역 */
.header {
  text-align: center;
  margin-bottom: 60px;
  margin-top: 30px;
}

.title {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: normal;
}

.subtitle {
  font-size: var(--fs-md);
  color: var(--text-light);
}

/* 블로그 그리드 */
.eventGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

/* 포스트 카드 스타일 */

.card {
  background-color: var(--white);
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.imgWrap {
  width: 100%;
  aspect-ratio: 4 / 3;
  /* object-fit: cover; */
  transition: transform 0.5s;
  overflow: hidden;
}

.imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.card:hover .imgWrap img {
  transform: scale(1.05);
}

/* 텍스트 영역 */
.textWrap {
  padding: 25px;
  display: flex;
  flex-direction: column;
}

.category {
  font-size: var(--fs-xs);
  font-weight: bold;
  color: var(--accent);
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.postTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--text);
  margin-bottom: 15px;
  line-height: 1.4;
  /* 두 줄 넘어가면 말 줄임표 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.postDesc {
  font-size: var(--fs-sm);
  color: var(--text-light);
  line-height: 1.6;
  margin-bottom: 20px;
  flex: 1;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.date {
  font-size: 13px;
  color: var(--text-muted);
  text-align: right;
}
/* 반응형 */
@media (max-width: 1000px) {
  .eventGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .eventGrid {
    grid-template-columns: 1fr;
  }
  .title {
    font-size: 28px;
  }
}
