.btn {
  width: 100%;
  transition: 0.3s;
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: left;
  background-color: var(--white);
}

.btn:hover,
.btn.active {
  background-color: var(--accent);
  color: var(--white);
}
